@page "/feed"
@using CapstoneDraft.Models
@using CapstoneDraft.Services
@using Microsoft.AspNetCore.Identity
@inject PostService PostService
@inject UserManager<UserModel> UserManager;
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject ILogger<Feed> Logger

<div class="container mt-4">
    <button @onclick="GoToAddPostPageAsync" class="yellow-animated-button">Create a New Post!</button>
    @if (posts == null || !posts.Any())
    {
        <h1>There are currently no posts in the feed!</h1>
    }
    @if (!string.IsNullOrEmpty(FeedErrorMessage))
    {
        <div class="alert alert-danger" role="alert">@FeedErrorMessage</div>
    }
    else
    {
        @foreach (var post in posts)
        {
            <div class="fullsize-container">
                <div class="card mb-3">
                <div class="social-media-container">
                    <h4>Name: @post.AuthorName</h4>
                    <h5>Subject:  @post.PostSubject</h5>
                    <h6>Post Category: @post.PostSubject</h6>
                    <div class="social-media-card">
                        <p>@post.PostMessageBody</p>
                        <p>Posted by @(post.AuthorName) on @post.PostCreatedTimestamp.ToString("MM/dd/yy")</p>
                        <img class="feed-photo" src="@($"/{post.PostPhoto}")" asp-append-version="true" alt="Post image" />
                    </div>
                    <div class="feed-button-container">
                        <button class="btn btn-danger" @onclick="() => LikePostAsync(post)">😍 Like (@post.PostLikes)</button>
                        <div>
                            @if (post.UserId == currentUserId)
                            {
                                <button class="btn btn-warning" @onclick="() => EditPost(post.PostId)">Edit</button>
                                <button class="btn btn-danger" @onclick="() => DeletePostAsync(post.PostId)">Delete</button>
                            }
                        </div>
                        <div>
                            <form @onsubmit="@(async () => await AddComment(post))">
                                <input type="text" @bind="commentText" class="custom-form-elements" placeholder="Add a comment" />
                                <button type="submit" class="btn btn-primary">🗯 Comment</button>
                            </form>
                        </div>
                        <div>
                            <h5>Comments:</h5>
                            @foreach (var comment in post.PostComments)
                            {
                                if (editedCommentId == comment.CommentId)
                                {
                                    <input type="text" @bind="commentText" />
                                    <button @onclick="() => SaveCommentAsync(comment)">Save</button>
                                    <button class="btn btn-danger" @onclick="() => CancelEditing()">Cancel</button>
                                }
                                else
                                {
                                    <p>@comment.CommentText</p>
                                    @if (comment.UserId == currentUserId)
                                    {
                                        <button class="btn btn-warning" @onclick="() => EditComment(comment)">Edit</button>
                                        <button class="btn btn-danger" @onclick="() => DeleteCommentAsync(comment.CommentId)">Delete</button>
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
                </div>
            </div>
        }
    }

</div>


@code {
    public List<PostModel> posts;
    private string commentText;
    private int editedCommentId;
    private string currentUserId;
    private string FeedErrorMessage;


    protected override async Task OnInitializedAsync()
    {
        Logger.LogInformation("Fetching user authentication state.");
        var userAuthenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var loggedInUser = userAuthenticationState.User;
        if (loggedInUser.Identity.IsAuthenticated)
        {
            Logger.LogInformation("User is authenticated. Fetching posts.");
            var loggedInUserId = UserManager.GetUserId(loggedInUser);
            currentUserId = loggedInUserId;
            posts = await PostService.FetchFeedPostAsync();
        }
        else
        {
            Logger.LogWarning("User is not authenticated.");
        }
    }

    private async Task GoToAddPostPageAsync()
    {
        NavigationManager.NavigateTo("/AddPost");
    }

    private async Task LikePostAsync(PostModel Post)
    {
        Post.PostLikes++;
        await PostService.EditPostAsync(Post);
    }

    private void EditPost(int postId)
    {
        Logger.LogInformation($"Navigating to edit post page for post ID: {postId}");
        NavigationManager.NavigateTo($"/EditPost/{postId}");
    }

    private async Task DeletePostAsync(int postId)
    {
        Logger.LogInformation($"Attempting to delete post ID: {postId}");
        var postPendingDeletion = posts.FirstOrDefault(post => post.PostId == postId);
        if (postPendingDeletion != null && postPendingDeletion.UserId == currentUserId)
        {
            await PostService.RemovePostAsync(postId);
            posts.Remove(postPendingDeletion);
            Logger.LogInformation($"Post ID: {postId} deleted successfully.");
            StateHasChanged();
        }
        else
        {
            Logger.LogWarning($"Unauthorized attempt to delete post ID: {postId}");
            FeedErrorMessage = "You do not have authorization to delete this post!";
        }
    }

    private async Task AddComment(PostModel post)
    {
        if (!string.IsNullOrWhiteSpace(commentText))
        {
            var userAuthenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var loggedInUser = userAuthenticationState.User;
            var loggedInUserId = UserManager.GetUserId(loggedInUser);

            var newComment = new CommentModel
                {
                    CommentText = commentText,
                    PostId = post.PostId,
                    CommentCreatedTimestamp = DateTime.UtcNow,
                    UserId = loggedInUserId
                };

            await PostService.AddCommentAsync(newComment);
            commentText = string.Empty;
            await RefreshFeed();
        }
        else
        {
            FeedErrorMessage = "Your comment cannot be added at this time - please try again!";
        }
    }

    private async Task RefreshFeed()
    {
        posts = await PostService.FetchFeedPostAsync();
        StateHasChanged();
    }

    private async Task SaveCommentAsync(CommentModel comment)
    {
        if (!string.IsNullOrWhiteSpace(commentText))
        {
            comment.CommentText = commentText;
            await PostService.UpdateCommentAsync(comment.CommentId, commentText, currentUserId);
            editedCommentId = 0;
            commentText = string.Empty;
            StateHasChanged();
        }
        else
        {
            FeedErrorMessage = "Your comment is blank - please add your message and try again!";
        }
    }

    private void CancelEditing()
    {
        editedCommentId = 0;
        commentText = string.Empty;
    }

    private void EditComment(CommentModel comment)
    {
        editedCommentId = comment.CommentId;
        commentText = comment.CommentText;
    }

    private async Task DeleteCommentAsync(int commentId)
    {
        var commentedDeleted = await PostService.RemoveCommentAsync(commentId, currentUserId);
        if (commentedDeleted)
        {
            var commentPendingDeletion = posts.SelectMany(post => post.PostComments).FirstOrDefault(comment => comment.CommentId == commentId);
            if (commentPendingDeletion != null)
            {
                var post = posts.FirstOrDefault(post => post.PostComments.Contains(commentPendingDeletion));
                post?.PostComments.Remove(commentPendingDeletion);
            }
        }
        else
        {
            FeedErrorMessage = "You do not have authorization to delete this comment!";
        }
        StateHasChanged();
        }
    }
}
