@page "/feed"
@using CapstoneDraft.Models
@using CapstoneDraft.Services
@inject PostService PostService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

@if (feedPosts == null)
{
    <h1>There are currently no posts in the feed!</h1>
}
@foreach (var feedPost in feedPosts)
{
    <div class="fullsize-container">
    <div class="social-media-container">
            <h4>Name: @feedPost.AuthorName</h4>
            <h5>Subject:  @feedPost.PostSubject</h5>
            <div class="social-media-card">
                <p>@feedPost.PostMessageBody</p>
                <p>Posted by @(feedPost.AuthorName) on @feedPost.PostCreatedTimestamp.ToString("MM/dd/yy")</p>
                    <img class="feed-photo" src="@($"/{feedPost.PostPhoto}")" asp-append-version="true" alt="Post image" />
        </div>
    </div>
</div>
}


@code {
    public List<PostModel> feedPosts;
    private string commentText;
    private string currentUserId;

    protected override async Task OnInitializedAsync()
    {
        feedPosts = await PostService.FetchFeedPostAsync();
    }
}
