@page "/post/{PostId:int}"
@using CapstoneDraft.Models;
@using CapstoneDraft.Services;
@inject PostService PostService
@inject NavigationManager NavigationManager

@if (post != null)
{
    <div class="fullsize-container">
        <div class="social-media-container">
            <h3>@post.PostSubject</h3>
            <div class="social-media-card">
                <h3>View Post Test</h3>
            </div>
            <div>
                <p>@post.PostMessageBody</p>
                @if (!string.IsNullOrWhiteSpace(post.PostPhoto))
                {
                    <img src="@post.PostPhoto" alt="Post Image" />
                }
                <p>Posted by @post.AuthorName on @post.PostCreatedTimestamp.ToShortDateString()</p>
            </div>
            @if (post.PostComments.Any())
            {
                <div>
                    <h4>Comments: </h4>
            }
        </div>
    </div>
}


@code {
    [Parameter]
    public int PostId { get; set; }
    private PostModel post;
}
