@page "/post/{PostId:int}"
@using CapstoneDraft.Models;
@using CapstoneDraft.Services;
@inject PostService PostService
@inject NavigationManager NavigationManager

@if (post != null)
{
    <div class="neon-bg-container">
        <div class="card">
            <div class="feed-post-header">
                <h6><strong>Post Subject:</strong> @post.PostSubject</h6>
        </div>
                <div class="social-media-card">
                <div>
                    <p>@post.PostMessageBody</p>
                    @if (!string.IsNullOrWhiteSpace(post.PostPhoto))
                    {
                        <img src="@post.PostPhoto" alt="Post Image" />
                    }
                    <p>Posted by @post.AuthorName on @post.PostCreatedTimestamp.ToShortDateString()</p>
                </div>
                @if (post.PostComments.Any())
                {
                    <div>
                        <h4>Comments: </h4>
                        @foreach (var comment in post.PostComments)
                        {
                            <p>@comment.CommentText</p>
                            <p>
                                @if (comment.User != null)
                                {
                                    <small>Commented by @comment.User.UserName - @comment.CommentCreatedTimestamp.ToShortDateString()</small>
                                }
                                else
                                {
                                    <small>Author of Comment Unknown - Posted - @comment.CommentCreatedTimestamp.ToShortDateString() </small>
                                }
                            </p>
                        }
                    </div>
                }
                </div>
            </div>
    
</div>
}


@code {
    [Parameter]
    public int PostId { get; set; }
    private PostModel post;

    protected override async Task OnInitializedAsync()
    {
        post = await PostService.FetchPostAsync(PostId);
    }
}
